body {
    overflow: hidden;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #273c75;
    width: 100vw;
    color: #ffffff;
}

.nav-item {
    margin: 10px 5px;
    cursor: pointer;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
}

nav a:hover,
.active {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 640px) {
    nav {
        flex-direction: column;
    }
    .nav-item {
        width: 90%;
    }
}