body {
    overflow: hidden;
    margin: 0px;
    background: #7f8fa6;
}

nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #273c75;
    width: 100vw;
    color: #ffffff;
}

.nav-item {
    margin: 10px 5px;
    cursor: pointer;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
}

nav a:hover,
.active {
    background-color: #ddd;
    color: black;
}

form {
    width: 100%;
    background: #273c75;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fields {
    margin: 8px 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.label {
    width: 30%;
}

input {
    padding: 5px 6px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 620px)
/* Tablet */

{
    nav {
        flex-direction: column;
    }
    .nav-item {
        width: 90%;
    }
    .label {
        width: 50%;
    }
    body {
        background: #273c75;
    }
    .hero {
        flex-direction: column;
    }
    form {
        width: 100%;
    }
    .hero img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width:880px) {
    .hero {
        flex-direction: row;
    }
    form {
        width: 40%;
    }
    .hero img {
        max-width: 60%;
        height: auto;
    }
    body {
        background: #f5f6fa;
    }
}